{
  "spp": -1,
  "output_directory": "default-output",
  "output_name": "Default",
  "integrator": "PathTracer",
  "scene": "veach-ajar.json",
  "showUI": false,

  "startBounce": 0,
  "lastBounce": -1,

  "phiSteps": 1,
  "thetaSteps": 1,
  "debugSearchCount": 100,

  "photonSamples": 10000,
  "photonBounces": 6,

  "portOffset": 0,

  "width": 400,
  "height": 400
}
