{
  "spp": -1,
  "output_directory": "default-output",
  "output_name": "Default",
  "integrator": "PathTracer",
  "scene": "veach-ajar.json",
  "showUI": false,

  "startBounce": 0,
  "lastBounce": -1,

  "width": 400,
  "height": 400
}
