{
  "spp": -1,
  "integrator": "PathTracer",
  "scene": "scenes/cornell.json",

  "startBounce": 0,
  "lastBounce": 10,

  "output_directory": "cornell-render",
  "showUI": true,
  "force": true,

  "width": 600,
  "height": 600,

  "output_name": "--"
}
