[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pudb = "*"

[packages]
matplotlib = "*"
numpy = "*"
pyexr = "*"
click = "*"
pillow = "*"

[requires]
python_version = "3.7"
